<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kisio.NavitiaSDKUX">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.kisio.NavitiaSDKUX.NavitiaSDKUX">
        <activity android:name="org.kisio.NavitiaSDKUX.Controllers.JourneySolutionsActivity"></activity>
        <activity android:name="org.kisio.NavitiaSDKUX.Controllers.JourneySolutionRoadmapActivity"></activity>
    </application>
</manifest>
